@{
    Layout = null;
}

<div class="hero-unit">
    <h1>Welcome - Youpe.web</h1>
</div>
<div class="row">
    <div class="span4">
        <h3>Last Comments</h3>
        
    </div>
    <div class="span4">
        <h3></h3>
         
    </div>
</div>

