@{
    ViewBag.Title = "Stats - Dashboard";
}

<div class="row">
    <fieldset class="col-md-6">
        <legend>Global Activity</legend>
        <div class="row">
        </div>
       
         <div class="col-md-12" style="text-align:right">
            <a href="~/"> + Informations about Global Activity </a>
        </div> 
    </fieldset>

    <fieldset class="col-md-6">
        <legend>Users</legend>
            <div class="col-md-12">
                <h5 style="text-align: center; margin-top: 5px; margin-bottom: 20px;"><span style="color:rgba(255,169,0,1); font-weight: bold;">Registration</span> / <span style="color:rgba(170,170,170,1); font-weight: bold; ">Unsubscribe</span></h5>
            </div>

            <div class="col-md-12">
                <canvas id="chartUserRegisterYear" height="200"></canvas>
            </div>

            <div class="col-md-12" style="text-align:right">
                <a href="~/User"> + Informations about Users</a>
            </div>
    </fieldset>
</div>

<div class="row" style="margin-top:3%; margin-bottom:3%;">
    <fieldset class="col-md-4">
        <legend>Forum</legend>
        <div class="row">
            <div class="col-md-12">
                <h5 style="text-align: center; margin-top: 5px; margin-bottom: 20px;"><span style="color:rgba(255,0,49,1); font-weight: bold;">Thread</span> / <span style="color:rgba(170,170,170,1); font-weight: bold; ">Post</span></h5>
            </div>
        </div>

        <div class="col-md-12" style="text-align:right">
            <a href="~/Forum"> + Informations about Forum</a>
        </div>
    </fieldset>

    <fieldset class="col-md-4">
        <legend>Blog</legend>
        <div class="row">
            <div>

            </div>
        </div>

        <div class="row">
            <div>

            </div>
        </div>

        <div class="col-md-12" style="text-align:right">
            <a href="~/Blog/"> + Informations about Blog</a>
        </div>

    </fieldset>

    <fieldset class="col-md-4">
        <legend>Event</legend>
        <div class="row">
            <div class="col-md-12">
                <h5 style="text-align: center; margin-top: 5px; margin-bottom: 20px;"><span style="color:rgba(0,137,250,1); font-weight: bold;">Event create</span></h5>
            </div>
        </div>

        <div class="col-md-12">
            <canvas id="chartEventCreateYear" height="200"></canvas>
        </div>

        <div class="col-md-12" style="text-align:right">
            <a href="~/Event"> + Informations about Event</a>
        </div>
    </fieldset>
</div>




@section Scripts {
    <script>
        var dataToDataChartEventCreateYear = [];
        @foreach (KeyValuePair<int, int> pair in (Dictionary<int, int>)ViewData["eventCreateForMonths"])
        {
        <text>dataToDataChartEventCreateYear.push(@pair.Value);</text>
        }

        var dataToDataChartUserRegisterYear = [];
        @foreach (KeyValuePair<int, int> pair in (Dictionary<int, int>)ViewData["userRegisterForMonths"])
        {
        <text>dataToDataChartUserRegisterYear.push(@pair.Value);</text>
        }

        var dataToDataChartUserDeletedYear = [];
        @foreach (KeyValuePair<int, int> pair in (Dictionary<int, int>)ViewData["userDeletedForMonths"])
        {
        <text>dataToDataChartUserDeletedYear.push(@pair.Value);</text>
        }

        var dataChartUserRegisterYear = {
            labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
            datasets: [
                {
                    fillColor: "rgba(255,169,0,0.5)",
                    strokeColor: "rgba(255,169,0,1)",
                    pointColor: "rgba(255,169,0,1)",
                    pointStrokeColor: "#fff",
                    data: dataToDataChartUserRegisterYear
                },
                {
                    fillColor: "rgba(170,170,170,0.5)",
                    strokeColor: "rgba(170,170,170,1)",
                    pointColor: "rgba(170,170,170,1)",
                    pointStrokeColor: "#fff",
                    data: dataToDataChartUserDeletedYear
                }
            ]
        }

        var dataChartEventCreateYear = {
            labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
            datasets: [
                {
                    fillColor: "rgba(0,137,250,0.5)",
                    strokeColor: "rgba(0,137,250,1)",
                    pointColor: "rgba(0,137,250,1)",
                    pointStrokeColor: "#fff",
                    data: dataToDataChartEventCreateYear
                }
            ]
        }


        $(document).ready(function () {

            var options = {
                scaleFontColor: '#444'
            };

            var ctxChartUserRegisterYear = $("#chartUserRegisterYear").get(0).getContext("2d");
            ctxChartUserRegisterYear.canvas.width = $("#chartUserRegisterYear").parent().width();
            var chartUserRegisterYear = new Chart(ctxChartUserRegisterYear).Line(dataChartUserRegisterYear, options);

            var ctxChartEventCreateYear = $("#chartEventCreateYear").get(0).getContext("2d");
            ctxChartEventCreateYear.canvas.width = $("#chartEventCreateYear").parent().width();
            var chartEventCreateYear = new Chart(ctxChartEventCreateYear).Line(dataChartEventCreateYear, options);
        });


    </script>
}
