 <!-- FOOTER -->
<footer id="main_footer" class="clearfix">
    <div class="container">
        <div class="row">
            <section class="footer_bottom">
                <p class="copyright span5">Y-Nov Design © <a href="http://www.vibethemes.com" title="VibeCom">Youp</a>. All rights reserved.</p>
                <ul class="" style="float:right; color:white">
                    <li><a href="#" title="Youp Git">About us</a></li>
                </ul>
            </section>
        </div>
    </div><!-- end #container -->
</footer> <!-- end #main_footer -->	