<tr>
    <td>Name: @Model["UserName"]</td>
</tr>
<tr>
    <td>Email :  @Model["Email"]</td>
</tr>
<tr>
    <td>Gender : @Model["Gender"]</td>
</tr>
<tr>
    <td>Birthday : @Model["Birthday"]</td>
</tr>