.red1 { background-color: #FF0000; }
.red2 { background-color: #BF3030; }
.red3 { background-color: #A60000; }
.red4 { background-color: #FF4040; }
.red5 { background-color: #FF7373; }

.orange1 { background-color: #FF7400; }
.orange2 { background-color: #BF7130; }
.orange3 { background-color: #A64B00; }
.orange4 { background-color: #FF9640; }
.orange5 { background-color: #FFB273; }
.orange6 { background-color: #FF9000; }
.orange7 { background-color: #FFAC40; }

.blue1 { background-color: #009999; }
.blue2 { background-color: #1D7373; }
.blue3 { background-color: #006363; }
.blue4 { background-color: #33CCCC; }
.blue5 { background-color: #5CCCCC; }

.green1 { background-color: #00CC00; }
.green2 { background-color: #269926; }
.green3 { background-color: #008500; }
.green4 { background-color: #39E639; }
.green5 { background-color: #67E667; }

.purple1 { background-color: #CD0074; }
.purple2 { background-color: #992667; }
.purple3 { background-color: #85004B; }
.purple4 { background-color: #E6399B; }
.purple5 { background-color: #E667AF; }