body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.search{
    width: 30px;
    height: 25px;
    border: 0;
    border-radius: 1px;
    background: #75a8fb url('../Images/search.png') no-repeat center;
    outline: none;
    margin:0;
    padding:0;
    bottom:0;
}
.search:hover
{
    background-color: #5193fb;
}
.result-search{
    padding:50px;
    padding-top:0;
    margin:50px;
}
.no-style tr, .no-style td{
    margin:0;
    padding:0;
}

.body-content{
   position:relative;
   padding-left:10%;
}
.results{
    position:relative;
}

.user{
    border: 2px solid #0BA920;
}
.theme{
    border:2px solid #CD0101;
}
.event{
    border: 2px solid #0B4FA9;
}
table.page-results{
    padding:0;
    margin-bottom:10px;
    display:block;
    width: 260px;
    height:260px;
    padding: 1px;
}
table.page-results tr,
table.page-results td{
    max-width: 90%;
    display:block;
}

div.results{
    left:0;
    padding-left:5%;
    padding-top: 2%;
    border: 2px solid #000000;
}
div.search-module{
    margin-bottom:10%;
    margin-top:10%;
}
.more:hover{
    cursor: pointer;
}
#multi-criteria-research{
    display: none;
    border: 2px solid #000000;
}
#multi-criteria-research td{
    padding: 10px;
}