@{
    ViewBag.Title = "login";
}

<h2>login</h2>
<form method="post">
    <label>Email</label>
    <input type="text" name="email"/>
    <br />
    <label>Password</label>
    <input type="password" name="password" />
    <br />
    <input type="submit" value="GO" />
 </form>